body {
	margin: 0;
}

* {
	box-sizing: border-box;
}

.loadingscreen {
    margin-top: 20px;
    display: flex;
    align-items: center;
	justify-content: center;
	transition: opacity 1s;
}

.loadingscreen.hide {
    opacity: 0;
}

.screencontent {
    display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.screencontent p {
    font-family: 'Quicksand', sans-serif;
    text-alignment: center;
    font-size: 1.0em;
}

.spinner {
    display: flex;
}

.spinner span {
    width: 20px;
    height: 20px;
    margin-left: 4px;
    border-radius: 100%;
    background: #0096a6;
    animation: spinner 1s infinite; 
}

.spinner span:nth-child(1) {
    animation-delay: .3s;
}

.spinner span:nth-child(2) {
    animation-delay: .6s;
}

@keyframes spinner {
    0% {
        transform: translate(0, 4px);
    }
    
    50% {
        transform: translate(0, -4px);
    }
    
    100% {
        transform: translate(0, 4px);
    }
}

.header {
	padding: 16px;
	text-align:left;
	font-family: 'Quicksand', sans-serif;
	font-size: 2.0em;
	/* font: 300 24px/32px Roboto,sans-serif; */
	background-color: #0096a6;
	color: #fff;
	height: 70px;
}

.clabel {
    position: absolute;
    display: flex;
    align-items: center;
	justify-content: left;
	
    top: 0px;
    right: 16px;
    height: 70px;
    font-family: 'Quicksand', sans-serif;
	font-size: 1.0em;
	color: #fff;
}

.clabel p {
    margin-top: 27px;
}

.content {
    width: 100%;
    height: 100vh;
	opacity: 0;
	transition: opacity 2s;
}

.content.show {
    opacity: 1;
}

.ide {
	display: flex;
    overflow: hidden;
	height: calc(100% - 70px);
}

.editor {
	width: 60%;
	height: 100%;
	background:  #fff;
}

.console {
	width: 40%;
	height: 100%;
	padding: 0px;
	background:  #fff ;
}

.console pre {
    padding: 8px;
}

.languageselection {
    display: flex;
    align-items: center;
	justify-content: left;
    margin-left: 8px;
    font-family: 'Quicksand', sans-serif;
}

.languageselection select {
    margin-left: 8px;
    background-color: #DDDDDD;
    border-radius: 8px;
    color: black;
    font-family: 'Quicksand', sans-serif;
    border: none;
    font-size: 14px;
    width: 125px;
    height: 29px;
    padding: 5px;
    -webkit-appearance: none;
    appearance: none;
    -moz-appearance: none; 
}

.styled-select {
   background: url(http://i62.tinypic.com/15xvbd5.png) no-repeat 96% 0;
   height: 29px;
   overflow: hidden;
   width: 240px;
}

.styled-select select {
   background: transparent;
   border: none;
   font-size: 14px;
   height: 29px;
   padding: 5px; /* If you add too much padding here, the options won't show in IE */
   width: 268px;
}

.styled-select.slate {
   background: url(http://i62.tinypic.com/2e3ybe1.jpg) no-repeat right center;
   height: 34px;
   width: 240px;
}

.styled-select.slate select {
   border: 1px solid #ccc;
   font-size: 16px;
   height: 34px;
   width: 268px;
}

.button {
    border: 0;
    margin-left: 0px;
    background: transparent;
    box-sizing: border-box;
    width: 16px;
    height: 16px;
    border-color: transparent transparent transparent #fff;
    transition: 100ms ease-in-out;
    cursor: pointer;
    border-style: solid;
    border-width: 8px 0 8px 16px;
}
.button.paused {
    margin-left: 0px;
    border-style: double;
    border-width: 0px 0 0px 16px;
}


.play-button:hover {
    box-shadow: 0 1px 2px rgba(0,0,0,.2),0 6px 10px rgba(0,0,0,.3);
    transition: box-shadow .3s ease-in-out;
}

.play-button {
    display: flex;
    align-items: center;
	justify-content: center;
	
    position: absolute;
    bottom: 24px;
    right: 188px;
    border-radius: 100%;
    color: white;
    width: 60px;
    height: 60px;
    line-height: 60px;
    box-shadow: 0 1px 4px rgba(0,0,0,.37);
    transition: box-shadow .3s ease-in-out;
    text-align: center;
    font-weight: 500;
    background-color: #0097A7;
    cursor: pointer;
}

.stop-button:hover {
    box-shadow: 0 1px 2px rgba(0,0,0,.2),0 6px 10px rgba(0,0,0,.3);
    transition: box-shadow .3s ease-in-out;
}

.stop-button {
    display: flex;
    align-items: center;
	justify-content: center;
	
    position: absolute;
    bottom: 24px;
    right: 106px;
    border-radius: 100%;
    color: white;
    width: 60px;
    height: 60px;
    line-height: 60px;
    box-shadow: 0 1px 4px rgba(0,0,0,.37);
    transition: box-shadow .3s ease-in-out;
    text-align: center;
    font-weight: 500;
    background-color: #0097A7;
    cursor: pointer;
}

.stop-button div {
    width: 16px;
    height: 16px;
    border-style: solid;
    border-width: 8px;
    border-color: #fff;
}

.send-button:hover {
    box-shadow: 0 1px 2px rgba(0,0,0,.2),0 6px 10px rgba(0,0,0,.3);
    transition: box-shadow .3s ease-in-out;
}

.send-button {
    display: flex;
    align-items: center;
	justify-content: center;
	
    position: absolute;
    bottom: 24px;
    right: 24px;
    border-radius: 100%;
    color: white;
    width: 60px;
    height: 60px;
    line-height: 60px;
    box-shadow: 0 1px 4px rgba(0,0,0,.37);
    transition: box-shadow .3s ease-in-out;
    text-align: center;
    font-weight: 500;
    background-color: #0097A7;
    cursor: pointer;
}

.send-button div {
    margin-left: 0px;
    font-size: 2.3em;
}

#textoutput {
    font-family: 'Quicksand', sans-serif;
    font-size: 1.0em;
    margin-top: 8px;
    text-align: left;
}

.console :not(pre) > code[class*="language-"], .console pre[class*="language-"] {
    background: #fff;
}

#blocklyDiv {
	height: 100%;
}

.blocklyToolboxDiv {
	height: 100%;
}

.blocklyTreeRoot .blocklyTreeRow {
	padding: 10px 20px;
	height: auto;
	cursor: pointer;
}

.blocklyTreeRoot .blocklyTreeSelected {
	background-color: #0096a6 !important;
}

/* div[role=treeitem] */
